@{
    ViewBag.Title = "Thank you for your suggestion!";
}

@model ProvoTop5Restaurants.Models.Suggestion

<br />
<br />

<div class="card border-primary mb-3 mx-auto" style="width: 35rem;">

    <div class="card-title text-center" style="padding: 15px">
        <h4>Click the button below to see all restaurants that have been suggested.</h4>
    </div>

    <div class="text-center" style="padding: 15px">
        Click <a asp-action="SuggestionCollection">here</a> to see the movie collection.
    </div>

</div>